<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Acres:</strong>
  <%= @house.acres %>
</p>

<p>
  <strong>Link:</strong>
  <%= @house.link %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @house.bedrooms %>
</p>

<p>
  <strong>Studies:</strong>
  <%= @house.studies %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @house.bathrooms %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @house.year_built %>
</p>

<p>
  <strong>House modernity:</strong>
  <%= @house.house_modernity %>
</p>

<p>
  <strong>Kitchen modernity:</strong>
  <%= @house.kitchen_modernity %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @house.internet %>
</p>

<p>
  <strong>Fiber optic:</strong>
  <%= @house.fiber_optic %>
</p>

<p>
  <strong>Water solved:</strong>
  <%= @house.water_solved %>
</p>

<p>
  <strong>Sewage solved:</strong>
  <%= @house.sewage_solved %>
</p>

<p>
  <strong>Off grid:</strong>
  <%= @house.off_grid %>
</p>

<p>
  <strong>Home square feet:</strong>
  <%= @house.home_square_feet %>
</p>

<p>
  <strong>Bright:</strong>
  <%= @house.bright %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @house.ac %>
</p>

<p>
  <strong>House type:</strong>
  <%= @house.house_type %>
</p>

<p>
  <strong>Can have livestock:</strong>
  <%= @house.can_have_livestock %>
</p>

<p>
  <strong>Has fencing:</strong>
  <%= @house.has_fencing %>
</p>

<p>
  <strong>Fencing type:</strong>
  <%= @house.fencing_type %>
</p>

<p>
  <strong>Landscape:</strong>
  <%= @house.landscape %>
</p>

<p>
  <strong>Barns:</strong>
  <%= @house.barns %>
</p>

<p>
  <strong>Barn modernity:</strong>
  <%= @house.barn_modernity %>
</p>

<p>
  <strong>Road:</strong>
  <%= @house.road %>
</p>

<p>
  <strong>Worksheds:</strong>
  <%= @house.worksheds %>
</p>

<p>
  <strong>Houseoverlooksland:</strong>
  <%= @house.houseOverlooksLand %>
</p>

<p>
  <strong>Streams:</strong>
  <%= @house.streams %>
</p>

<p>
  <strong>Stream year round:</strong>
  <%= @house.stream_year_round %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @house.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.city %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
